* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none!important;
}

/* Navbar */
.shop-navbar {
  background-color: blueviolet;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 15px 30px;
  color: #fff;
  min-height: 70px;
}
.shop-navbar h1 {
  color: #fff;
}
.shop-basket-icon {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}
.shop-basket-icon:hover {
  color: rgb(20, 216, 46);
}
.shop-basket-icon span {
  padding-left: 10px;
}
